<a href="https://colab.research.google.com/github/uiacap/UIAC_AP_4012/blob/main/AP401_402_3_while_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div dir=rtl>
برای ایجاد حلقه های تکرار از while و for استفاده می کنیم.
</br>
while condition :
</br>
  (while block)

</div>

<div dir=rtl>
سوال: عددی را بخواند و از عدد 1 تا آن عدد را چاپ کند.
</div>

In [ ]:
num = int(input())
i = 0
while i < num :
  print(i+1)
  i += 1

In [ ]:
num = int(input())
i = 1
while i <= num :
  print(i)
  i += 1

In [ ]:
num = int(input())
i = 1
sum = 0
while i <= num :
  if num % i == 0 :
    sum += i
  i += 1

print(f"Sum of divisors={sum}")

<div dir=rtl>
سوال: تا وقتی کاربر عدد 0 را وارد نکرده، از کاربر عدد بگیرد. و پس از آن ماکزیمم آنها، مینیمم آنها، مجموع و میانگین آنها را محاسبه و چاپ کند.
</div>

In [ ]:
num = float(input())
min = num
max = num
sum = 0
cnt = 1
while num != 0 :
  if num < min :
    min = num
  if num > max :
    max = num
  sum += num
  num = float(input())
  cnt+=1
print(f"The min {min}, The max {max}")
print(f"The sum {sum}, The average {sum/cnt}")

12
13
0
The min 12.0, The max 13.0
The sum 25.0, The average 8.333333333333334

<div dir=rtl>
اصلاح کد بالا:
با استفاده از break
</div>

In [ ]:
import math
min = math.inf
max = -math.inf
cnt = 0
sum = 0
while True :
  num = float(input())
  if num == 0 :
    break
  cnt += 1
  if num < min :
    min = num
  if num > max :
    max = num
  sum += num
print(f"The min {min:.2f}, The max {max}")

<div dir=rtl>
با استفاده از دستور break می توانیم، از یک حلقه تکرار خارج شویم.
</br>
هنگامی که کنترل به دستور break که در داخل یک حلقه تکرار قرار داده شده است، برسد
</br>
به اولین دستور بعد از حلقه تکرار منقل خواهد شد. و آن دستور را اجرا می کند.
</div>

<div dir=rtl>
دستور continue نیز در داخل حلقه های تکرار به کار می رود.
</br>
هنگامی که کنترل به دستور continue می رسد:
به ابتدای حلقه تکرار منتقل شده و در صوتیکه شرط حلقه همچنان برقرار باشد، دستورات حلقه از ابتدای آن اجرا می شوند.
</div>

In [ ]:
while True:
  print('Who are you?')
  name = input()
  if name != 'Joe':
    continue
  print('Hello, Joe. What is the password? (It is a fish.)')
  password = input()
  if password == 'swordfish':
    break
print('Access granted.')

<div dir=rtl>
س: برنامه ای بنویسید که تعدادی عدد را خوانده و تعداد اعدادی را همه ارقام آنها با هم برابر است را به دست آورد.
برای خروج از برنامه عدد -99 وارد می شود.
</div>

In [ ]:
cnt = 0
while True:
  num = int(input())
  if num == -99 :
    break
  
  p_digit = num % 10
  is_equal_digit = True
  while num > 0 :
    digit = num % 10
    if p_digit != digit:
      is_equal_digit = False
      break
    num = num // 10
  if is_equal_digit :
    cnt += 1

print(f"The number of the equal digit {cnt}")

123
33
-99
The number of the equal digit 1

In [ ]:
cnt = 0
while True:
  num = int(input())
  if num == -99 :
    break
  
  p_digit = num % 10

  digit = p_digit
  while num > 0 and p_digit == digit:
    digit = num % 10
    num = num // 10
  if p_digit == digit:
    cnt += 1

print(f"The number of the equal digit {cnt}")

33
-99
The number of the equal digit 1

In [ ]:
while (num := int(input())) != -99 :

<div dir=rtl>
نوشتن جملات شرطی در یک خط
</br>
</div>

In [ ]:
print('equal') if 1 == 1 else print('not equal')

In [ ]:
if 1==1 :
  print('equal')
else:
  print('not equal')

<div dir=rtl>
استفاده از عبارت های انتسابی:
</br>
عبارت‌های انتسابی (Assignment Expressions) قابلیت جدیدی است که از نسخه‌ی ۳.۸ به پایتون اضافه شده است و به ما کمک می‌کند کد را ساده‌تر و کوتاه‌تر بنویسیم. این عبارت‌ها با استفاده از عملگر := نوشته می‌شوند.
</br>
این عملگر ابتدا مقدار مشخص شده را به متغیر نسبت می‌دهد و سپس آن مقدار را برمی‌گرداند. فرض کنید میخواهید یک متغیر را مقداردهی کرده و آن را چاپ کنید.
</div>

In [ ]:
temp = 5
print(temp)

In [ ]:
print(temp:=5)

<div dir =rtl>
استفاده از این عملگر در نوشتن حلقه‌ها می‌تواند مفید باشد
</br>
نوشتن کد سوال قبل با استفاده از عملگرهای انتسابی:
</div>

<div dir=rtl>
حلقه for و تابع range:
</br>
در صورتیکه بخواهیم، یک حلقه به تعداد مشخص تکرار شود از حلقه for استفاده می کنیم.
</br>
در پایتون این کار را با استفاده از حلقه for و تابع range انجام می دهیم.


</div>

In [ ]:
for (a variable name) in range(n,[m,s]) 
  (for block)

In [ ]:
print('My name is')
for i in range(5):
  print('Jimmy Five Times (' + str(i) + ')')

<div dir = rtl>
تابع range:
range(n) : دنباله ای از اعداد صحیح که از 0 شروع شده و با n-1 خاتمه می یابد.
</br>
range(n,m) : دنباله ای از اعداد صحیح که از n شروع شده و با m-1 خاتمه می باید.
</br>
range(n,m,s) : دنباله ای از اعداد صحیح که از n شروع شده و حداکثر با m-1 خاتمه می یابد و 
اعداد s تا s تا اضافه می شوند.
</br>
</div>

In [ ]:
for i in range(10) :
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(-1) :
  print(i, end=" ")

In [ ]:
for i in range(1,-1) :
  print(i, end=" ")

In [ ]:
for i in range(-1,3):
  print(i, end=" ")

-1 0 1 2

In [ ]:
for i in range(2, 10, 3):
  print(i, end=" ")

2 5 8

In [ ]:
for i in range(2, 10, -3):
  print(i, end=" ")

In [ ]:
for i in range(10, 2, -3):
  print(i, end=" ")

10 7 4

In [ ]:
for i in range(-1,5, -1):
  print(i, end= " ")

<div dir=rtl>
برنامه ای بنویسید که عددی را از ورودی گرفته و فاکتوریل آن را چاپ کند.
</div>

In [ ]:
num = int(input())
fact = 1
for i in range(1,num+1):
  fact *= i
print(f"factorial of {num} is {fact}")

1
factorial of 1 is 1

<div dir=rtl>
سوال: برنامه ای بنویسید که عددی را خوانده و تشخیص بدهد عدد کامل است یا خیر؟
</div>

In [ ]:
num = int(input())
sum = 0
for i in range(1,num):
  if num % i == 0 :
    sum += i
if sum == num :
  print("complete")
else:
  print("not complete")

36
not complete

<div dir = rtl>
برنامه ای بنویسید که اعداد کامل کمتر از 10000 را چاپ کند
</div>

In [ ]:
for num in range(1,10001):
  sum = 0
  for i in range(1,num):
    if num % i == 0 :
      sum += i
  if sum == num :
    print(num)

6
28
496
8128

<div dir=rtl>
سوال : برنامه ای بنویسید که عدد را از ورودی خوانده و دنباله فیبوناچی تا آن عدد را حساب کند.
</div>

In [ ]:
n = int(input())
a = 1
b = 1
for i in range(n+1):
  if i == 0 or i == 1:
    print(1, end=" ")
    continue
  print(a+b, end=" ")
  #temp = a
  #a = b
  #b = temp + b
  a,b = b,a+b

<div dir=rtl>
روش دوم برای حل مسئله بالا:
</div>

In [ ]:
n = int(input())
a = 0
b = 1
if n >= 0 :
  print(1, end=" ")
for i in range(1,n+1):
  print(a+b, end=" ")
  a,b = b,a+b

<div dir = rtl>
برنامه ای بنویسید که n را از ورودی خوانده و جدول ضرب اعداد از 1 تا n را چاپ کند.
</div>

<div dir=rtl>
برای ایجاد حلقه های تکرار از while و for استفاده می کنیم.
</br>
while condition :
</br>
  (while block)

</div>

<div dir=rtl>
سوال: عددی را بخواند و از عدد 1 تا آن عدد را چاپ کند.
</div>

In [ ]:
num = int(input())
i = 0
while i < num :
  print(i+1)
  i += 1

In [ ]:
num = int(input())
i = 1
while i <= num :
  print(i)
  i += 1

In [ ]:
num = int(input())
i = 1
sum = 0
while i <= num :
  if num % i == 0 :
    sum += i
  i += 1

print(f"Sum of divisors={sum}")

<div dir=rtl>
سوال: تا وقتی کاربر عدد 0 را وارد نکرده، از کاربر عدد بگیرد. و پس از آن ماکزیمم آنها، مینیمم آنها، مجموع و میانگین آنها را محاسبه و چاپ کند.
</div>

In [ ]:
num = float(input())
min = num
max = num
sum = 0
cnt = 1
while num != 0 :
  if num < min :
    min = num
  if num > max :
    max = num
  sum += num
  num = float(input())
  cnt+=1
print(f"The min {min}, The max {max}")
print(f"The sum {sum}, The average {sum/cnt}")

12
13
0
The min 12.0, The max 13.0
The sum 25.0, The average 8.333333333333334

<div dir=rtl>
اصلاح کد بالا:
با استفاده از break
</div>

In [ ]:
import math
min = math.inf
max = -math.inf
cnt = 0
sum = 0
while True :
  num = float(input())
  if num == 0 :
    break
  cnt += 1
  if num < min :
    min = num
  if num > max :
    max = num
  sum += num
print(f"The min {min:.2f}, The max {max}")

<div dir=rtl>
با استفاده از دستور break می توانیم، از یک حلقه تکرار خارج شویم.
</br>
هنگامی که کنترل به دستور break که در داخل یک حلقه تکرار قرار داده شده است، برسد
</br>
به اولین دستور بعد از حلقه تکرار منقل خواهد شد. و آن دستور را اجرا می کند.
</div>

<div dir=rtl>
دستور continue نیز در داخل حلقه های تکرار به کار می رود.
</br>
هنگامی که کنترل به دستور continue می رسد:
به ابتدای حلقه تکرار منتقل شده و در صوتیکه شرط حلقه همچنان برقرار باشد، دستورات حلقه از ابتدای آن اجرا می شوند.
</div>

In [ ]:
while True:
  print('Who are you?')
  name = input()
  if name != 'Joe':
    continue
  print('Hello, Joe. What is the password? (It is a fish.)')
  password = input()
  if password == 'swordfish':
    break
print('Access granted.')

<div dir=rtl>
س: برنامه ای بنویسید که تعدادی عدد را خوانده و تعداد اعدادی را همه ارقام آنها با هم برابر است را به دست آورد.
برای خروج از برنامه عدد -99 وارد می شود.
</div>

In [ ]:
cnt = 0
while True:
  num = int(input())
  if num == -99 :
    break
  
  p_digit = num % 10
  is_equal_digit = True
  while num > 0 :
    digit = num % 10
    if p_digit != digit:
      is_equal_digit = False
      break
    num = num // 10
  if is_equal_digit :
    cnt += 1

print(f"The number of the equal digit {cnt}")

123
33
-99
The number of the equal digit 1

In [ ]:
cnt = 0
while True:
  num = int(input())
  if num == -99 :
    break
  
  p_digit = num % 10

  digit = p_digit
  while num > 0 and p_digit == digit:
    digit = num % 10
    num = num // 10
  if p_digit == digit:
    cnt += 1

print(f"The number of the equal digit {cnt}")

33
-99
The number of the equal digit 1

In [ ]:
while (num := int(input())) != -99 :

<div dir=rtl>
نوشتن جملات شرطی در یک خط
</br>
</div>

In [ ]:
print('equal') if 1 == 1 else print('not equal')

In [ ]:
if 1==1 :
  print('equal')
else:
  print('not equal')

<div dir=rtl>
استفاده از عبارت های انتسابی:
</br>
عبارت‌های انتسابی (Assignment Expressions) قابلیت جدیدی است که از نسخه‌ی ۳.۸ به پایتون اضافه شده است و به ما کمک می‌کند کد را ساده‌تر و کوتاه‌تر بنویسیم. این عبارت‌ها با استفاده از عملگر := نوشته می‌شوند.
</br>
این عملگر ابتدا مقدار مشخص شده را به متغیر نسبت می‌دهد و سپس آن مقدار را برمی‌گرداند. فرض کنید میخواهید یک متغیر را مقداردهی کرده و آن را چاپ کنید.
</div>

In [ ]:
temp = 5
print(temp)

In [ ]:
print(temp:=5)

<div dir =rtl>
استفاده از این عملگر در نوشتن حلقه‌ها می‌تواند مفید باشد
</br>
نوشتن کد سوال قبل با استفاده از عملگرهای انتسابی:
</div>

<div dir=rtl>
حلقه for و تابع range:
</br>
در صورتیکه بخواهیم، یک حلقه به تعداد مشخص تکرار شود از حلقه for استفاده می کنیم.
</br>
در پایتون این کار را با استفاده از حلقه for و تابع range انجام می دهیم.


</div>

In [ ]:
for (a variable name) in range(n,[m,s]) 
  (for block)

In [ ]:
print('My name is')
for i in range(5):
  print('Jimmy Five Times (' + str(i) + ')')

<div dir = rtl>
تابع range:
range(n) : دنباله ای از اعداد صحیح که از 0 شروع شده و با n-1 خاتمه می یابد.
</br>
range(n,m) : دنباله ای از اعداد صحیح که از n شروع شده و با m-1 خاتمه می باید.
</br>
range(n,m,s) : دنباله ای از اعداد صحیح که از n شروع شده و حداکثر با m-1 خاتمه می یابد و 
اعداد s تا s تا اضافه می شوند.
</br>
</div>

In [ ]:
for i in range(10) :
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(-1) :
  print(i, end=" ")

In [ ]:
for i in range(1,-1) :
  print(i, end=" ")

In [ ]:
for i in range(-1,3):
  print(i, end=" ")

-1 0 1 2

In [ ]:
for i in range(2, 10, 3):
  print(i, end=" ")

2 5 8

In [ ]:
for i in range(2, 10, -3):
  print(i, end=" ")

In [ ]:
for i in range(10, 2, -3):
  print(i, end=" ")

10 7 4

In [ ]:
for i in range(-1,5, -1):
  print(i, end= " ")

<div dir=rtl>
برنامه ای بنویسید که عددی را از ورودی گرفته و فاکتوریل آن را چاپ کند.
</div>

In [ ]:
num = int(input())
fact = 1
for i in range(1,num+1):
  fact *= i
print(f"factorial of {num} is {fact}")

1
factorial of 1 is 1

<div dir=rtl>
سوال: برنامه ای بنویسید که عددی را خوانده و تشخیص بدهد عدد کامل است یا خیر؟
</div>

In [ ]:
num = int(input())
sum = 0
for i in range(1,num):
  if num % i == 0 :
    sum += i
if sum == num :
  print("complete")
else:
  print("not complete")

36
not complete

<div dir = rtl>
برنامه ای بنویسید که اعداد کامل کمتر از 10000 را چاپ کند
</div>

In [ ]:
for num in range(1,10001):
  sum = 0
  for i in range(1,num):
    if num % i == 0 :
      sum += i
  if sum == num :
    print(num)

6
28
496
8128

<div dir=rtl>
سوال : برنامه ای بنویسید که عدد را از ورودی خوانده و دنباله فیبوناچی تا آن عدد را حساب کند.
</div>

In [ ]:
n = int(input())
a = 1
b = 1
for i in range(n+1):
  if i == 0 or i == 1:
    print(1, end=" ")
    continue
  print(a+b, end=" ")
  #temp = a
  #a = b
  #b = temp + b
  a,b = b,a+b

<div dir=rtl>
روش دوم برای حل مسئله بالا:
</div>

In [ ]:
n = int(input())
a = 0
b = 1
if n >= 0 :
  print(1, end=" ")
for i in range(1,n+1):
  print(a+b, end=" ")
  a,b = b,a+b

<div dir = rtl>
برنامه ای بنویسید که n را از ورودی خوانده و جدول ضرب اعداد از 1 تا n را چاپ کند.
</div>

<div dir=rtl>
برای ایجاد حلقه های تکرار از while و for استفاده می کنیم.
</br>
while condition :
</br>
  (while block)

</div>

<div dir=rtl>
سوال: عددی را بخواند و از عدد 1 تا آن عدد را چاپ کند.
</div>

In [ ]:
num = int(input())
i = 0
while i < num :
  print(i+1)
  i += 1

In [ ]:
num = int(input())
i = 1
while i <= num :
  print(i)
  i += 1

In [ ]:
num = int(input())
i = 1
sum = 0
while i <= num :
  if num % i == 0 :
    sum += i
  i += 1

print(f"Sum of divisors={sum}")

<div dir=rtl>
سوال: تا وقتی کاربر عدد 0 را وارد نکرده، از کاربر عدد بگیرد. و پس از آن ماکزیمم آنها، مینیمم آنها، مجموع و میانگین آنها را محاسبه و چاپ کند.
</div>

In [ ]:
num = float(input())
min = num
max = num
sum = 0
cnt = 1
while num != 0 :
  if num < min :
    min = num
  if num > max :
    max = num
  sum += num
  num = float(input())
  cnt+=1
print(f"The min {min}, The max {max}")
print(f"The sum {sum}, The average {sum/cnt}")

12
13
0
The min 12.0, The max 13.0
The sum 25.0, The average 8.333333333333334

<div dir=rtl>
اصلاح کد بالا:
با استفاده از break
</div>

In [ ]:
import math
min = math.inf
max = -math.inf
cnt = 0
sum = 0
while True :
  num = float(input())
  if num == 0 :
    break
  cnt += 1
  if num < min :
    min = num
  if num > max :
    max = num
  sum += num
print(f"The min {min:.2f}, The max {max}")

<div dir=rtl>
با استفاده از دستور break می توانیم، از یک حلقه تکرار خارج شویم.
</br>
هنگامی که کنترل به دستور break که در داخل یک حلقه تکرار قرار داده شده است، برسد
</br>
به اولین دستور بعد از حلقه تکرار منقل خواهد شد. و آن دستور را اجرا می کند.
</div>

<div dir=rtl>
دستور continue نیز در داخل حلقه های تکرار به کار می رود.
</br>
هنگامی که کنترل به دستور continue می رسد:
به ابتدای حلقه تکرار منتقل شده و در صوتیکه شرط حلقه همچنان برقرار باشد، دستورات حلقه از ابتدای آن اجرا می شوند.
</div>

In [ ]:
while True:
  print('Who are you?')
  name = input()
  if name != 'Joe':
    continue
  print('Hello, Joe. What is the password? (It is a fish.)')
  password = input()
  if password == 'swordfish':
    break
print('Access granted.')

<div dir=rtl>
س: برنامه ای بنویسید که تعدادی عدد را خوانده و تعداد اعدادی را همه ارقام آنها با هم برابر است را به دست آورد.
برای خروج از برنامه عدد -99 وارد می شود.
</div>

In [ ]:
cnt = 0
while True:
  num = int(input())
  if num == -99 :
    break
  
  p_digit = num % 10
  is_equal_digit = True
  while num > 0 :
    digit = num % 10
    if p_digit != digit:
      is_equal_digit = False
      break
    num = num // 10
  if is_equal_digit :
    cnt += 1

print(f"The number of the equal digit {cnt}")

123
33
-99
The number of the equal digit 1

In [ ]:
cnt = 0
while True:
  num = int(input())
  if num == -99 :
    break
  
  p_digit = num % 10

  digit = p_digit
  while num > 0 and p_digit == digit:
    digit = num % 10
    num = num // 10
  if p_digit == digit:
    cnt += 1

print(f"The number of the equal digit {cnt}")

33
-99
The number of the equal digit 1

In [ ]:
while (num := int(input())) != -99 :

<div dir=rtl>
نوشتن جملات شرطی در یک خط
</br>
</div>

In [ ]:
print('equal') if 1 == 1 else print('not equal')

In [ ]:
if 1==1 :
  print('equal')
else:
  print('not equal')

<div dir=rtl>
استفاده از عبارت های انتسابی:
</br>
عبارت‌های انتسابی (Assignment Expressions) قابلیت جدیدی است که از نسخه‌ی ۳.۸ به پایتون اضافه شده است و به ما کمک می‌کند کد را ساده‌تر و کوتاه‌تر بنویسیم. این عبارت‌ها با استفاده از عملگر := نوشته می‌شوند.
</br>
این عملگر ابتدا مقدار مشخص شده را به متغیر نسبت می‌دهد و سپس آن مقدار را برمی‌گرداند. فرض کنید میخواهید یک متغیر را مقداردهی کرده و آن را چاپ کنید.
</div>

In [ ]:
temp = 5
print(temp)

In [ ]:
print(temp:=5)

<div dir =rtl>
استفاده از این عملگر در نوشتن حلقه‌ها می‌تواند مفید باشد
</br>
نوشتن کد سوال قبل با استفاده از عملگرهای انتسابی:
</div>

<div dir=rtl>
حلقه for و تابع range:
</br>
در صورتیکه بخواهیم، یک حلقه به تعداد مشخص تکرار شود از حلقه for استفاده می کنیم.
</br>
در پایتون این کار را با استفاده از حلقه for و تابع range انجام می دهیم.


</div>

In [ ]:
for (a variable name) in range(n,[m,s]) 
  (for block)

In [ ]:
print('My name is')
for i in range(5):
  print('Jimmy Five Times (' + str(i) + ')')

<div dir = rtl>
تابع range:
range(n) : دنباله ای از اعداد صحیح که از 0 شروع شده و با n-1 خاتمه می یابد.
</br>
range(n,m) : دنباله ای از اعداد صحیح که از n شروع شده و با m-1 خاتمه می باید.
</br>
range(n,m,s) : دنباله ای از اعداد صحیح که از n شروع شده و حداکثر با m-1 خاتمه می یابد و 
اعداد s تا s تا اضافه می شوند.
</br>
</div>

In [ ]:
for i in range(10) :
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(-1) :
  print(i, end=" ")

In [ ]:
for i in range(1,-1) :
  print(i, end=" ")

In [ ]:
for i in range(-1,3):
  print(i, end=" ")

-1 0 1 2

In [ ]:
for i in range(2, 10, 3):
  print(i, end=" ")

2 5 8

In [ ]:
for i in range(2, 10, -3):
  print(i, end=" ")

In [ ]:
for i in range(10, 2, -3):
  print(i, end=" ")

10 7 4

In [ ]:
for i in range(-1,5, -1):
  print(i, end= " ")

<div dir=rtl>
برنامه ای بنویسید که عددی را از ورودی گرفته و فاکتوریل آن را چاپ کند.
</div>

In [ ]:
num = int(input())
fact = 1
for i in range(1,num+1):
  fact *= i
print(f"factorial of {num} is {fact}")

1
factorial of 1 is 1

<div dir=rtl>
سوال: برنامه ای بنویسید که عددی را خوانده و تشخیص بدهد عدد کامل است یا خیر؟
</div>

In [ ]:
num = int(input())
sum = 0
for i in range(1,num):
  if num % i == 0 :
    sum += i
if sum == num :
  print("complete")
else:
  print("not complete")

36
not complete

<div dir = rtl>
برنامه ای بنویسید که اعداد کامل کمتر از 10000 را چاپ کند
</div>

In [ ]:
for num in range(1,10001):
  sum = 0
  for i in range(1,num):
    if num % i == 0 :
      sum += i
  if sum == num :
    print(num)

6
28
496
8128

<div dir=rtl>
سوال : برنامه ای بنویسید که عدد را از ورودی خوانده و دنباله فیبوناچی تا آن عدد را حساب کند.
</div>

In [ ]:
n = int(input())
a = 1
b = 1
for i in range(n+1):
  if i == 0 or i == 1:
    print(1, end=" ")
    continue
  print(a+b, end=" ")
  #temp = a
  #a = b
  #b = temp + b
  a,b = b,a+b

<div dir=rtl>
روش دوم برای حل مسئله بالا:
</div>

In [ ]:
n = int(input())
a = 0
b = 1
if n >= 0 :
  print(1, end=" ")
for i in range(1,n+1):
  print(a+b, end=" ")
  a,b = b,a+b

<div dir = rtl>
برنامه ای بنویسید که n را از ورودی خوانده و جدول ضرب اعداد از 1 تا n را چاپ کند.
</div>

<div dir=rtl>
برای ایجاد حلقه های تکرار از while و for استفاده می کنیم.
</br>
while condition :
</br>
  (while block)

</div>

<div dir=rtl>
سوال: عددی را بخواند و از عدد 1 تا آن عدد را چاپ کند.
</div>

In [ ]:
num = int(input())
i = 0
while i < num :
  print(i+1)
  i += 1

In [ ]:
num = int(input())
i = 1
while i <= num :
  print(i)
  i += 1

In [ ]:
num = int(input())
i = 1
sum = 0
while i <= num :
  if num % i == 0 :
    sum += i
  i += 1

print(f"Sum of divisors={sum}")

<div dir=rtl>
سوال: تا وقتی کاربر عدد 0 را وارد نکرده، از کاربر عدد بگیرد. و پس از آن ماکزیمم آنها، مینیمم آنها، مجموع و میانگین آنها را محاسبه و چاپ کند.
</div>

In [ ]:
num = float(input())
min = num
max = num
sum = 0
cnt = 1
while num != 0 :
  if num < min :
    min = num
  if num > max :
    max = num
  sum += num
  num = float(input())
  cnt+=1
print(f"The min {min}, The max {max}")
print(f"The sum {sum}, The average {sum/cnt}")

12
13
0
The min 12.0, The max 13.0
The sum 25.0, The average 8.333333333333334

<div dir=rtl>
اصلاح کد بالا:
با استفاده از break
</div>

In [ ]:
import math
min = math.inf
max = -math.inf
cnt = 0
sum = 0
while True :
  num = float(input())
  if num == 0 :
    break
  cnt += 1
  if num < min :
    min = num
  if num > max :
    max = num
  sum += num
print(f"The min {min:.2f}, The max {max}")

<div dir=rtl>
با استفاده از دستور break می توانیم، از یک حلقه تکرار خارج شویم.
</br>
هنگامی که کنترل به دستور break که در داخل یک حلقه تکرار قرار داده شده است، برسد
</br>
به اولین دستور بعد از حلقه تکرار منقل خواهد شد. و آن دستور را اجرا می کند.
</div>

<div dir=rtl>
دستور continue نیز در داخل حلقه های تکرار به کار می رود.
</br>
هنگامی که کنترل به دستور continue می رسد:
به ابتدای حلقه تکرار منتقل شده و در صوتیکه شرط حلقه همچنان برقرار باشد، دستورات حلقه از ابتدای آن اجرا می شوند.
</div>

In [ ]:
while True:
  print('Who are you?')
  name = input()
  if name != 'Joe':
    continue
  print('Hello, Joe. What is the password? (It is a fish.)')
  password = input()
  if password == 'swordfish':
    break
print('Access granted.')

<div dir=rtl>
س: برنامه ای بنویسید که تعدادی عدد را خوانده و تعداد اعدادی را همه ارقام آنها با هم برابر است را به دست آورد.
برای خروج از برنامه عدد -99 وارد می شود.
</div>

In [ ]:
cnt = 0
while True:
  num = int(input())
  if num == -99 :
    break
  
  p_digit = num % 10
  is_equal_digit = True
  while num > 0 :
    digit = num % 10
    if p_digit != digit:
      is_equal_digit = False
      break
    num = num // 10
  if is_equal_digit :
    cnt += 1

print(f"The number of the equal digit {cnt}")

123
33
-99
The number of the equal digit 1

In [ ]:
cnt = 0
while True:
  num = int(input())
  if num == -99 :
    break
  
  p_digit = num % 10

  digit = p_digit
  while num > 0 and p_digit == digit:
    digit = num % 10
    num = num // 10
  if p_digit == digit:
    cnt += 1

print(f"The number of the equal digit {cnt}")

33
-99
The number of the equal digit 1

In [ ]:
while (num := int(input())) != -99 :

<div dir=rtl>
نوشتن جملات شرطی در یک خط
</br>
</div>

In [ ]:
print('equal') if 1 == 1 else print('not equal')

In [ ]:
if 1==1 :
  print('equal')
else:
  print('not equal')

<div dir=rtl>
استفاده از عبارت های انتسابی:
</br>
عبارت‌های انتسابی (Assignment Expressions) قابلیت جدیدی است که از نسخه‌ی ۳.۸ به پایتون اضافه شده است و به ما کمک می‌کند کد را ساده‌تر و کوتاه‌تر بنویسیم. این عبارت‌ها با استفاده از عملگر := نوشته می‌شوند.
</br>
این عملگر ابتدا مقدار مشخص شده را به متغیر نسبت می‌دهد و سپس آن مقدار را برمی‌گرداند. فرض کنید میخواهید یک متغیر را مقداردهی کرده و آن را چاپ کنید.
</div>

In [ ]:
temp = 5
print(temp)

In [ ]:
print(temp:=5)

<div dir =rtl>
استفاده از این عملگر در نوشتن حلقه‌ها می‌تواند مفید باشد
</br>
نوشتن کد سوال قبل با استفاده از عملگرهای انتسابی:
</div>

<div dir=rtl>
حلقه for و تابع range:
</br>
در صورتیکه بخواهیم، یک حلقه به تعداد مشخص تکرار شود از حلقه for استفاده می کنیم.
</br>
در پایتون این کار را با استفاده از حلقه for و تابع range انجام می دهیم.


</div>

In [ ]:
for (a variable name) in range(n,[m,s]) 
  (for block)

In [ ]:
print('My name is')
for i in range(5):
  print('Jimmy Five Times (' + str(i) + ')')

<div dir = rtl>
تابع range:
range(n) : دنباله ای از اعداد صحیح که از 0 شروع شده و با n-1 خاتمه می یابد.
</br>
range(n,m) : دنباله ای از اعداد صحیح که از n شروع شده و با m-1 خاتمه می باید.
</br>
range(n,m,s) : دنباله ای از اعداد صحیح که از n شروع شده و حداکثر با m-1 خاتمه می یابد و 
اعداد s تا s تا اضافه می شوند.
</br>
</div>

In [ ]:
for i in range(10) :
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(-1) :
  print(i, end=" ")

In [ ]:
for i in range(1,-1) :
  print(i, end=" ")

In [ ]:
for i in range(-1,3):
  print(i, end=" ")

-1 0 1 2

In [ ]:
for i in range(2, 10, 3):
  print(i, end=" ")

2 5 8

In [ ]:
for i in range(2, 10, -3):
  print(i, end=" ")

In [ ]:
for i in range(10, 2, -3):
  print(i, end=" ")

10 7 4

In [ ]:
for i in range(-1,5, -1):
  print(i, end= " ")

<div dir=rtl>
برنامه ای بنویسید که عددی را از ورودی گرفته و فاکتوریل آن را چاپ کند.
</div>

In [ ]:
num = int(input())
fact = 1
for i in range(1,num+1):
  fact *= i
print(f"factorial of {num} is {fact}")

1
factorial of 1 is 1

<div dir=rtl>
سوال: برنامه ای بنویسید که عددی را خوانده و تشخیص بدهد عدد کامل است یا خیر؟
</div>

In [ ]:
num = int(input())
sum = 0
for i in range(1,num):
  if num % i == 0 :
    sum += i
if sum == num :
  print("complete")
else:
  print("not complete")

36
not complete

<div dir = rtl>
برنامه ای بنویسید که اعداد کامل کمتر از 10000 را چاپ کند
</div>

In [ ]:
for num in range(1,10001):
  sum = 0
  for i in range(1,num):
    if num % i == 0 :
      sum += i
  if sum == num :
    print(num)

6
28
496
8128

<div dir=rtl>
سوال : برنامه ای بنویسید که عدد را از ورودی خوانده و دنباله فیبوناچی تا آن عدد را حساب کند.
</div>

In [ ]:
n = int(input())
a = 1
b = 1
for i in range(n+1):
  if i == 0 or i == 1:
    print(1, end=" ")
    continue
  print(a+b, end=" ")
  #temp = a
  #a = b
  #b = temp + b
  a,b = b,a+b

<div dir=rtl>
روش دوم برای حل مسئله بالا:
</div>

In [ ]:
n = int(input())
a = 0
b = 1
if n >= 0 :
  print(1, end=" ")
for i in range(1,n+1):
  print(a+b, end=" ")
  a,b = b,a+b

<div dir = rtl>
برنامه ای بنویسید که n را از ورودی خوانده و جدول ضرب اعداد از 1 تا n را چاپ کند.
</div>