<a href="https://colab.research.google.com/github/uiacap/UIAC_AP_4012/blob/main/Chapters/AP_401_402_14p_more_about_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<div dir=rtl>
در پایتون می توان توابع با تعداد ورودی متغیر داشت.
برای این کار در کنار ورودی  یک * قرار می دهیم. در این حالت تعداد ورودی  می تواند به هر تعداد دلخواه باشد.
</div>

In [ ]:
a = 10
b = 20
c = 30




print(a)
print(a,b)
print(a,b,c)

<div dir = rtl>
تابعی که هر تعداد ورودی داشته باشد آنها را در هم ضرب کرده و به عنوان خروجی بر می گرداند.
</div>

In [ ]:

def mult(*a) :
  #print(type(a))
  z = 1
  for i in range(len(a)) :
    z *= a[i]
  return z

print(mult(2,3,4,5))

120

In [ ]:
def test(a,b) :
  print(f"a={a},b={b}")

def vtest(a,*b) :
  print(f"a={a},b={b}")

def v2test(*b,a) :
  print(f"a={a},b={b}")

v2test(1,2,3,a=4)

a=4,b=(1, 2, 3)

<div dir=rtl>
استفاده از ** برای تعریف پارامترهای تابع
</div>

In [ ]:
def kargs_func(**k) :
  print(type(k))
  print(k)

kargs_func(a=10,b=30,c=20)

<class 'dict'>
{'a': 10, 'b': 30, 'c': 20}

<div dir=rtl>
ذخیره سازی متغیرهای در حافظه و لیست ها
</div>

In [ ]:
a = 5
print(id(a))
b = 5
print(id(b))

print('list')
c = [10,5]
print(id(c[1]))

139637500412272
139637500412272
list
139637500412272

<div dir=rtl>
کپی کردن لیست
</div>

In [ ]:
l = [10,20,30]
l1 = l.copy()
print(l1)
l1.append(40)
print(l1)
print(l)

<div dir=rtl>
استفاده از لیست ، شی از یک کلاس تعریف شده و مقادیر دارای نوع ساده در توابع
</div>

In [ ]:
class A :
  pass

def list_change(l,a,b) :
  l.append(10)
  a.t = 10
  b = 11



l1 = [2,3,4]
a = A()
c = 10
list_change(l1,a,c)
print(l1)
print(a.t)
print(c)

[2, 3, 4, 10]
10
10

<div dir=rtl>
متغیر های local , global
</div>

In [ ]:
def spam():
  eggs = 31337
spam()
print(eggs)

In [ ]:
def func1():
  eggs = 99
  func2()
  print(eggs)
def func2():
  ham = 101
  print(ham)
  print(eggs)
  #eggs = 0

eggs = 100
func1()

101
100
99

In [ ]:
def func1():
  print(eggs)
eggs = 42
func1()
print(eggs)

In [ ]:
def func1():
  eggs = '1 local'
  print(eggs) # prints func1 local'
def func2():
  eggs = '2 local'
  print(eggs) # prints func2 local'
  func1()
  print(eggs) # prints 'func2 local'
eggs = 'global'
func2()
print(eggs) # prints 'global'

In [ ]:
def func1():
  global eggs
  eggs = 'func1'

eggs = 'global'
func1()
print(eggs)

In [ ]:
def func1():
  global eggs
  eggs = 'func1'
def func2():
  eggs = 'bacon'
def ham() :
  print(eggs)
eggs = 42
func1()
print(eggs)