<a href="https://colab.research.google.com/github/uiacap/UIAC_AP_4012/blob/main/Chapters/AP_401_402_7_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div dir=rtl>
نوع داده لیست در پایتون:
</br>
در صورتیکه بخواهیم نوع داده ای داشته باشیم که به جای یک مقدار از تعدادی از مقادیر تشکیل شده باشد، می توانیم از نوع داده list، Tuple، Set یا dictionary استفاده کنیم
</br>
نوع داده list:
</br>
لیست مقداری است که شامل تعدادی مقدار است.
</br>
برای تعریف لیست از [ , ] استفاده می کنیم
</br>
برای مثال متغیر a در زیر مقدار دهی شده است، شامل یک لیست با چهار عنصر می باشد.
</div>

In [ ]:
a = [1,2,4, 17]
b = ['abc', 'a', 'abv', 'adgh']
c = [1,2, 'abc', 2.3]
d = [[1,2,4.5], 'sd']
print(a[3])

17

<div dir = rtl>
عملگرهای + و * را برای لیست ها داریم.
</div>

In [ ]:
l = [2,4,"abi", 2.4]
l1 = [3,5]
print(l+l1)
print(l1*2)
print(l[-1])

[2, 4, 'abi', 2.4, 3, 5]
[3, 5, 3, 5]
2.4

<div dir=rtl>
برای دسترسی به عناصر لیست مانند رشته های از ایندکس عناصر استفاده می کنیم.
</br>
عناصر از ایندکس 0 شروع می شوند.
</br>
با استفاده از عملگر : نیز می توان یک زیر لیست از لیست داشت
</br>
عناصر لیست از آخر به اول با اندیس های منفی شماره گذاری می شوند که از 1- شروع می شود.
</div>

Nested indexing
</br>

In [ ]:
nl = ["python", [2,0,[4,'b'],5]]
print(nl[1][2][1])

<div dir=rtl>
لیست ها قابل تغییر هستند
</br>
میخواهیم عنصر 4 از لیست زیر را تغییر دهیم
</div>

In [ ]:
odd_list = [2, 4, 6, 8, 10, 12]
odd_list[3] = 14
print(odd_list)

[2, 4, 6, 14, 10, 12]

change 2nd to 4th element

In [ ]:
odd_list = [2, 4, 6, 8, 10, 12]
odd_list[1:4] = [[5,7],9]
print(odd_list)

[2, [5, 7], 9, 10, 12]

<div dir=rtl>
برای اضافه کردن یک مقدار به ته لیست از دستور append استفاده می کنیم.
</br>
در صورتیکه به عنوان ورودی list مجموعه ای از مقادیر را بدهیم تمام آنها به لیست اضافه می شوند.
</div>

In [ ]:
odd_list = [2, 4, 6, 8, 10, 12]
odd_list.append(20)
print(odd_list)

[2, 4, 6, 8, 10, 12, 20]

<div dir=rtl>
اگر بخواهیم در مکانی از لیست مقداری را اضافه کنیم از تابع insert استفاده می کنیم.
</br>
در صورتیکه بخواهیم تعدادی مقدار را در مکانی از لیست اضافه کنیم. از زیر لیست با ابتدا و انتهای یکسان استفاده می کنیم.
</div>

In [ ]:
l = [1,3,4,56,10]
l.insert(1,10)
print(l)
l[2:2] = [1.3,4.5]
print(l)

[1, 10, 3, 4, 56, 10]
[1, 10, 1.3, 4.5, 3, 4, 56, 10]

<div dir=rtl>
برای حذف یک مقدار از لیست از متد popاستفاده می کنیم. 
</br>
متد pop به عنوان ورودی، ایندکس عنصر را گرفته ، آنرا حذف کرده و سپس مقدار آنرا بر می گرداند.
</div>

In [33]:
l = [1,3,4,56,10]
print(l.pop())
print(l)
print(l.pop(3))
print(l)

10
[1, 3, 4, 56]
56
[1, 3, 4]

<div dir=rtl>
با استفاده از دستور del می توان هر متغیری را حذف کرد.
</br>
از این دستور می توانیم برای حذف عناصر لیست یا یک زیر لیست از لیست استفاده کرد.
</dir>

In [ ]:
a = 12
print(a)
del a
print(a)

In [39]:
l = [1,3,4,56,10,'cv']
del l[1]
print(l)
del l[2:4]
print(l)

[1, 4, 56, 10, 'cv']
[1, 4, 'cv']

<div dir=rtl>
با استفاده از متد remove نیز می توان عنصری را از لیست حذف کرد.
</br>
تفاوت remove با pop این است که به جای ایندکس یک مقدار می گیرد و آنرا حذف کرده و در صورتیکه مقدار مورد نظر در لیست نبود، خطا بر می گرداند.
</div>

In [37]:
l = ['a','b','a','c','a']
'a' not in l

while 'a' in l :
  l.remove('a')

print(l)

['b', 'c']

In [ ]:
l = [1,3,4,56,10,'cv']
l.reverse()
print(l)

['cv', 10, 56, 4, 3, 1]

In [ ]:
l = [1,3,4,56,10,'cv']
l.clear()
print(l)

<div dir = rtl>
متد index :
</br>
با استفاده از این متد می توان، مقداری را در لیست جستجو کرد. در صورتیکه مقدار موجود باشد، ایندکس آن و در غیر اینصورت خطا داده می شود.
</br>
می توانیم با دادن ایندکس شروع و پایان، زیر لیستی از لیست را برای جستجو مشخص کرد.
</div>

In [42]:
myList = ["amir", "ali", "amir", "ali","hasan", "abbas", "ali"]
myList.index("ali")
myList.index("ali", 2,6)

3

<div dir=rtl>
برای شمردن مقادیر یک لیست می توان از متد count استفاده کرد.
</div>

In [43]:
myList = ["amir", "ali", "amir", "ali","hasan", "abbas", "ali"]
print(myList.count("ali"))

3

<div dir=rtl>
تابعی بنویسید که اعضای تکراری یک لیست را حذف کند.
</div>

<div dir =rtl>
پیمایش لیست ها
</br>
لیست ها را نیز مانند رشته ها می توان در for به کار برد و عناصر لیست را پیمایش کرد.
</div>

In [ ]:
l = [34, 2, 3.2, 4.5]
for i in range(len(l)) :
  print(l[i])

In [44]:
l = [34, 2, 3.2, 4.5]

for item in l :
  print(item)

34
2
3.2
4.5

<div dir=rtl>
برنامه ای که تعدادی کلمه را از کاربر بگیرد تا وقتی که کاربر یک خط خالی وارد کند
و سپس کلمات تکراری را حذف کرده و کلمات خوانده شده را چاپ کند
</div>

In [ ]:
l = []
l_all = []
while True:
  word = input()
  if word == "" :
    break
  l_all.append(word)
  if word not in l :
    l.append(word)

for item in l :
  print(item)

<div dir=rtl>
س: برنامه ای بنویسید که تا وقتی کاربر خط خالی وارد نکرده است، از ورودی عدد بخواند.
</br>
پس از خواندن اعداد ابتدا اعداد منفی در یک خط
و پس از آن 0ها
و پس از آن اعداد مثبت در یک خط چاپ شوند.
</br>
اعداد به همان ترتیبی که خوانده شده اند، چاپ شوند.
</div>

In [49]:
l_neg = []
l_zero = []
l_pos = []
while True:
  n_str = input()
  if n_str == "" :
    break
  n = float(n_str)
  if n < 0 :
    l_neg.append(str(n))
  elif n > 0 :
    l_pos.append(n)
  else :
    l_zero.append(n)

#for item in l_neg :
#  print(item, end=" ")

print(" ".join(l_neg))
print()
for item in l_zero :
  print(item, end= " ")
print()
for item in l_pos :
  print(item, end=" ")

3.5
-.67
-0.9
0
2

-0.67 -0.9 -0.67 -0.9

0.0
3.5 2.0

<div dir=rtl>
توابع join و slpit
</br>
متد join یک از متدهای رشته ها است. 
</br>
این متد برای یک رشته که به عنوان جدا کننده استفاده می شود، صدا زده می شود. این متد به عنوان ورودی یکی از متغیرهای مجموعه ای مانند (لیست یا تاپل ) را گرفته (اعضای این لیست باید همه از نوع رشته باشند) و اعضای مجموعه را در یک رشته قرار می دهد به طوریکه این اعضا با جدا کننده از هم جدا شده باشند.
</div>

In [47]:

a = ["1", "2", "3", "4"]
print('-'.join(a))

1-2-3-4

<div dir=rtl>
متد split از متد های رشته ها می باشد.
</br>
این متد رشته ای را برای آن صدا زده می شود را بر اساس جدا کننده ای که دریافت می کند به زیر رشته ها جدا می کند و این زیر رشته ها را در قالب یک لیست به عنوان خروجی بر می گرداند.
</div>

In [51]:
s = "ab,dc,er,ac"
l = s.split(",")
print(l[0])
print(s.split(","))

ab
['ab', 'dc', 'er', 'ac']

In [53]:
st = input()
l = st.split(" ")
print(l)

2 3
['2', '3']

<div dir=rtl>
تابع map:
</br>
این تابع به عنوان ورودی، نام یک تابع و یک متغیر قابل پیمایش (مانند لیست) را می گیرد. و تابع را به ترتیب روی اعضای لیست اعمال می کند.
و نتیجه را در قالب یک شی قابل پیمایش برمی گرداند. که می توان آن را به یک لیست تبدیل کرد.
</div>

In [56]:
def f(x):
  return int(x)

l = [2, '4', False, 3.14]
m = map(f, l)
print(type(m))

print(list(m))

for x in list(m) :
  print(x)

<class 'map'>
[2, 4, 0, 3]

<div dir=rtl>
برنامه ای که تعدادی ورودی را در یک خط گرفته و آنها را به int تبدیل کند.
</div>

In [ ]:
l = map(float, input().split(" "))
print(list(l))

<div dir=rtl>
استفاده از توابع sum، min و max
</div>

In [60]:
l = [1,2,3,4]
print(sum(l))
print(min(l))
print(max(l))

10
1
4