<a href="https://colab.research.google.com/github/uiacap/UIAC_AP_4012/blob/main/Chapters/AP_401_402_10_list_comperhensionipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div dir=rtl>
با استفاده از list comperhension یا معرف لیست می توانیم لیست را بر اساس الگوی خاصی یا از روی لیست های دیگر بسازیم
</div>

In [ ]:
qubes = []
for x in range(10):
  qubes.append(x**3)
print(qubes)

In [ ]:
qubes = [x**3 for x in range(10)]
print(qubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

<div dir=rtl>
در یک معرف لیست، ابتدا یک عبارت داده می شود که لیست بر اساس آن عبارت ساخته می شود.
</br>
در صورتیکه عبارت شامل متغیر باشد، پس از دادن عبارت باید تعیین کنید که از چه رنجی انتحاب شود که این کار را به دستور for و ifمی توان انجام داد.
</dir>

In [ ]:
print([0 for x in range(5)])

[0, 0, 0, 0, 0]

In [ ]:
print([x+y for x in range(10) for y in range(5)])

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 6, 7, 8, 9, 10, 7, 8, 9, 10, 11, 8, 9, 10, 11, 12, 9, 10, 11, 12, 13]

In [ ]:
print([str(x)+y for x in [1,2,3] for y in ['A','B']])

['1A', '1B', '2A', '2B', '3A', '3B']

In [ ]:
[(x, y) for x in [1, 2, 3] for y in [1, 2, 3] if x != y]

[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]

In [ ]:
data = [10, -4, 53, 122, 0]
[2**x for x in data if x > 0]

[1024, 9007199254740992, 5316911983139663491615228241121378304]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
print([x.upper() for x in fruits])
newlist = [x for x in fruits if 'a' in x]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['apple', 'banana', 'mango']

<div dir=rtl>
لیست های تو در تو
</br>
آرایه های چند بعدی و ماتریس ها را می توان با استفاده از لیست های تو در تو ساخت
</div>

In [ ]:
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in range(3):
  for j in range(3):
    print(m[i][j], end=' ')
  print()

In [ ]:
matrix = [[i for i in range(1,4)],[i for i in range(4,7)], [i for i in range(7,10)]]
print(matrix)

matrix = [[x,y,z] for x in range(1,4)for y in range(4,7)for z in range(7,10)]
print(matrix)

<div dir=rtl>
یک لیست دارای m سطر و n ستون از مقادیر اولیه 0 بسازید.
</div>

In [ ]:
m = 2
n = 3