<a href="https://colab.research.google.com/github/uiacap/UIAC_AP_4012/blob/main/Chapters/AP_401_402_8_Set_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div dir =rtl>
نوع مجموعه (SET)
</br>
این نوع نیز مانند لیست برای ذخیره سازی مجموعه ای از مقادیر تحت یک نام استفاده می شود.
</br>
فرق مجموعه با لیست این است که اعضا در مجموعه ترتیب ندارند و بنابراین نمی توان اعضای تکراری در یک مجموعه داشت
</br>
برای تعریف مجموعه از اکولاد باز و بسته استفاده می کنیم. {}
</br>
اعضای مجموعه می توانند انواع مختلف داشته باشند.
</div>

In [ ]:
A = {3,1,2,3}
print(type(A))
print(A)
B = {'abc', 2, 4.5}

<class 'set'>
{1, 2, 3}

<div dir=rtl>
برای تعریف مجموعه خالی نمی توان از {} به صورتی که عضوی در آن نیست استفاده کرد.
زیر در این حالت متغیر را از نوع dictionatry در نظر می گیرد.
</br>
برای تعریف یک مجموعه خالی از set() استفاده می کنیم.
</div>

In [ ]:
C= {}
print(type(C))
C = set()
print(type(C))

<class 'dict'>
<class 'set'>

<div dir=rtl>
برای اضافه کردن یک عنصر به مجموعه از متد add استفاده می کنیم
</div>

In [ ]:
a = {2,3,4}
2 in a

<div dir =rtl>
عملگرهای مجموعه ها:
</br>
عملگرهای + و * برای مجموعه ها تعریف نشده اند.
عملگر in: برای بررسی عضویت یک مقدار در مجموعه
</br>
عملگر | : برای به دست آوردن اجتماع دو مجموعه
</br>
عملگر &: برای به دست آوردن اشتراک دو مجموعه
</br>
عملگر -: برای به دست آوردن تفاضل دو مجحوعه
</br>
عملگر ^ : برای به دست آوردن تفاضل متقارن دو مجموعه
</div>

In [ ]:
A = {1,2,3,4}
B = {4,5,6,7}
C1 = A | B
C2 = A.union(B)
C3 = A.update(B)
print(C1)
print(C2)
print(C3)
print(A)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
None
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
A = {1,2,3,4}
B = {4,5,6,7}
C1 = A & B
C2 = A.intersection(B)
C3 = A.intersection_update(B)
print(C1)
print(C2)
print(C3)
print(A)

{4}
{4}
None
{4}

In [ ]:
A = {1,2,3,4}
B = {4,5,6,7}
C1 = A - B
C2 = A.difference(B)
C3 = A.difference_update(B)
print(C)
print(C2)
print(C3)

In [ ]:
A = {1,2,3,4}
B = {4,5,6,7}
C1 = A ^ B
C2 = A.symmetric_difference(B)
C3 = A.symmetric_difference_update(B)
print(C)
print(C2)
print(C3)

In [ ]:
A = {2,3}
B = {'a', 1, 'd'}
print(A.isdisjoint(B))

True

In [ ]:
A = {1}
B = {'a', 1, 'd'}
print(A.issubset(B))
print(B.issuperset(A))

True
True

<div dir=rtl>
برای حذف یک مقدار از مجموعه از دو متد remove و discard می توانیم استفاده کنیم
</br>
</div>
If the item to remove does not exist, remove() will raise an error.
If the item to remove does not exist, discard() will NOT raise an error.

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.add("ab")
print(thisset)
thisset.remove("apple")
print(thisset)
thisset.discard("orange")
print(thisset)
thisset.remove("orange")
print(thisset)

{'ab', 'apple', 'cherry', 'banana'}
{'ab', 'cherry', 'banana'}
{'ab', 'cherry', 'banana'}

KeyError: ignored

<div dir =rtl>
متد clear برای حذف تمام اعضای مجموعه به کار می رود.
</div>

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

<div dir=rtl>
س: تابع isdisjoint را پیاده سازی کنید
</div>

In [ ]:
def isdisjoint(A,B) :
  for item in A :
    if item in B:
      return False
  return True

<div dir = rtl>
س : تابع issubset را پیاده سازی کنید.
</div>

In [ ]:
def issubset(A,B) :
  for item in B:
    if item not in A :
      return False
  return True

<div dir=rtl>
tuple
</br>
نوع دیگری از مجموعه مقادیر، نوع tuple است.
</br>
این نوع، دارای ترتیب می باشد ولی قابل تغییر نیست.
</br>
رشته ها نوع tuple می باشند
</br>
در صورتیکه چند مقدار از تابع return کنیم. نوع خروجی از نوع tuple است.
</br>
برای تعریف tuple از () استفاده می کنیم
</br>
در صورتیکه () قرار داده نشود و بین متغیرها ,قرار داده شود، نوع داده ها از نوع tuple در نظر گرفته می شود.
</div>

In [ ]:
t1 = ("apple", "banana", "cherry")
t2 = (1,)
print(type(t2))
t3 = 1,2,3
print(type(t3))
print(t3[0])
#t2 = ("apple",)
#t3 = tuple("apple")
#t4 = (1,2,"ABV")
#t5 = 1,2,3,4
#print(t5)

<class 'tuple'>
<class 'tuple'>
1

<div dir = rtl>
تعریف یک tupleخالی :
</br>
</div>

In [ ]:
my_tuple = ()
print(type(my_tuple))
print(my_tuple)

<div dir=rtl>
تعریف tuple با یک عضو
</div>

In [ ]:
# tuple unpacking
t = (2,3,4)
a, b, c = t
print(a)
print(b)
print(c)

a
3
b

<div dir=rtl>
tuple از نوع داده های دارای ترتیب است. بنابراین با استفاده از اندیس آعضای می توان به هر یک از آنها دسترسی داشت
</br>
ولی tuple قابل تغییر نیست و در صورتیکه مقداری را از نوع tuple تعریف کردید، نمی توانید عناصر آنرا تغییر دهید.
</div>

In [ ]:
my_tuple = (4, 2, 3, [6, 5])

<div dir = rtl>
عملگرهای + و * را برای tupleها داریم. 
</div>

<div dir = rtl>
تابع enumerate:
</br>
</div>

In [ ]:
l = ['ab', 'ac', 'af']
#for item in enumerate(l) : 
#  print(item)
#  print(type(item))
#  print(f'Index  {item[0]} : in l is: {item[1]}')

for idx,val in enumerate(l) :
  print(f"item number{idx} = {val}")

item number0 = ab
item number1 = ac
item number2 = af

In [ ]:
l = ['ab', 'ac', 'af']
for idx,val in enumerate(l) :
  print(f'Index  {idx} : in l is: {val}')

<div dir =rtl>
س: تابعی بنویسید که یک لیست در ورودی می‌گیرد و در خروجی یک سه‌تایی بر می‌گرداند که به ترتیب میانگین و میانه و بیشینه اعضای این چندتایی را برگرداند.
</div>

In [ ]:
def statistic(l) :
  l.sort()
  length = len(l)
  if length % 2 == 0:
    mean = l[int(length/2)] + l[int(length/2)+1]
  else :
    mean = l[int(length/2)]
  return sum(l)/len(l) , mean, max(l)

l = [1,4,5,6,2]
t = statistic(l)
print(f"mean = {t[1]}")

mean = 4